*{
    margin: 0;
    padding: 0;
}
header{
    background-color: rgb(0, 0, 0);
    height: 90px;
    width: auto;
    border-radius: 0px ;
}
footer{
    background-color: darkslategrey;
    height: 80px;
    width: auto;
}
.rightsidebar{
    background-color: aliceblue;
    height: 800px;
    width: 100px ;
    float: right;
}
.leftsidebar{
    background-color: antiquewhite;
    height: 800px;
    width: 100px ;

}
.nav1{
   text-align: right;
}
.nav1 h1{
    font-size: 50px;
    font-weight: 700;
    color: #ffffffff
    
}
  
.nav2{
    margin-left: 50px;
    margin-bottom: 5px;
    text-align: center;
   
}
  
.nav2 ul{
    list-style-type: none;
    display: inline-flex;
  }
  
.nav2 ul li {
    margin-left: 25px;
    color: #ffffffff;
    font-size: 18px;
  }